.sign-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sign-card {
  background-color: #322b3acc;
  border: 1px solid rgba(223, 145, 0, 0.459);
  box-shadow: 2px 2px 5px #140d1d;
  padding: 5% 5% 8% 5%;
}

.sign-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.sign-in {
  width: 185px;
  transition: .5s;
}

.sign-in:hover {

}

.sign-up {
  width: 185px;
}

.sign-up:hover {

}