.img-creator {
  padding: 2%;
  border: 2px solid rgba(223, 145, 0, 0.459);
  display: inline-block;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.welcome-text-container {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}