.img-creator {
  padding: 2%;
  border: 2px solid rgba(223, 145, 0, 0.459);
  display: inline-block;
  width: 150px;
  
}

.title {
  font-size: 8em;
  letter-spacing: 8px;
  margin-bottom: 30px;
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 89.5vh;
  max-height: 89.5vh;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;
}

.welcome-row{
  padding-top: 50px;
  padding-bottom: 50px;
}

.qb-info-list {
  direction: ltr;
  height: 100%;
  max-height: 89.5vh;
  min-height: 89.5vh;
  padding: 3% 0px 0px 5%;
}

.welcome-text-container {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}