.qb-row {
  margin: 0 0 10px 0;
  width: 95%;
  padding: 5px 10px;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  border: 1px solid rgba(223, 145, 0, 0.459);
  box-shadow: 2px 2px 5px #140d1d;
  min-height: 60px;
  display: flex;
  align-items: center;
  direction: ltr;
}

.drag-color {
  background-color: black;
}

.save-qb-button {
  background-color: rgba(85, 33, 105, 0.952);
  color: rgba(255, 255, 255, 0.616);
  border: 1px solid rgba(255, 255, 255, 0.37);
  padding: 5px 10px;
}

.saved-qb-button {
  background-color: rgba(155, 0, 0, 0.952);
  color: rgba(255, 255, 255, 0.801);
  border: 1px solid rgba(255, 255, 255, 0.13);
  padding: 5px 10px;
  font-size: .85em;
}

.qb-img-prev {
  height: 50px;
}

.qb-img {
  height: 100px;
}

.qb-img-container {
  display: inline-block;
  background-color: #2a262eaf;
  border: 1px solid #1310168f;
}